@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  * {
    @apply font-montserrat;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-slate-900 antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-red-500 to-emerald-600 bg-clip-text text-transparent;
  }

  .animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}
